<section class = "formcontrol">
    <h1 class = "name">SCREW Bar</h1>
    <p class = "mini_description">Strawberry & Apple Flavor</p>   
    <p class = "price">{{price}} <span class = "old_price"><s>$7.49</s> original price</span></p> 
</section>
<form (ngSubmit) = "submit()">
    <section class = "formcontrol">
        <p class = "available">Only {{available_quantity}} left</p>
        <label for="quantity" id = "quantity">Quantity: </label>
        <input id = "quantity" name = "quantity" type="number" value="1" [(ngModel)] = "quantity" min="1">      
    </section>
    <button type = "submit" class = "submit formcontrol" [disabled]="invalid()">Add to Cart</button>
    <div class = "formcontrol error" *ngIf = "invalid()">Invalid quantity or quantity out of stock.</div>
</form>

